<section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-14" id="addSoftwareModal" th:fragment="add-software">
    <div class="u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
            <div class="custom-expanded u-form u-form-1">
                <form th:action="@{/software/create}" th:object="${software}" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px;" method="post">
                    <div class="u-form-group u-form-name">
                        <label for="createSoftwareName" class="u-label">Название</label>
                        <input type="text" th:field="*{softwareName}" placeholder="Введите название программы" id="createSoftwareName" name="createSoftwareName" class="u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group">
                        <label for="createSoftwareVersion" class="u-label">Версия</label>
                        <input type="text" th:field="*{softwareVersion}" placeholder="Введите версию программы" id="createSoftwareVersion" name="createSoftwareVersion" class="u-input u-input-rectangle" required="required">
                    </div>
                    <div class="u-form-checkbox u-form-group u-form-group-3">
                        <input type="checkbox" th:checked="${software.isLicensed}" id="createCheckboxIsLicensedSoftware" name="isLicensed" class="u-field-input">
                        <label for="createCheckboxIsLicensedSoftware" class="u-field-label">Наличие лицензии</label>
                    </div>

                    <div class="u-form-group u-form-select u-form-group-4">
                        <label for="createSelectComputerSoftware" class="u-label">Инвентарный номер компьютера</label>
                        <div class="u-form-select-wrapper">
                            <select th:field="*{computer.id}" id="createSelectComputerSoftware" name="createSelectComputerSoftware" class="u-input u-input-rectangle">
                                <option value="">Выберите компьютер</option>
                                <option th:each="computer : ${computers}" th:value="${computer.id}" th:text="${computer.inventoryNumber}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="u-form-group u-form-select u-form-group-5">
                        <label for="createSelectLaptopSoftware" class="u-label">Инвентарный номер ноутбука</label>
                        <div class="u-form-select-wrapper">
                            <select th:field="*{laptop.id}" id="createSelectLaptopSoftware" name="createSelectLaptopSoftware" class="u-input u-input-rectangle">
                                <option value="">Выберите ноутбук</option>
                                <option th:each="laptop : ${laptops}" th:value="${laptop.id}" th:text="${laptop.inventoryNumber}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="u-align-right u-form-group u-form-submit">
                        <button type="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-radius u-btn-1">Сохранить</button>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
                    <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
                </form>
            </div>
        </div>
        <button data-dismiss="modal" class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg>
        </button>
    </div>
    <style>.u-dialog-section-14 .u-dialog-1 {
        width: 800px;
        min-height: 314px;
        margin: 60px auto;
    }
    .u-form-group {
        margin-bottom: 10px;
    }

    .u-dialog-section-14 .u-container-layout-1 {
        padding: 30px;
    }

    .u-dialog-section-14 .u-form-1 {
        height: 254px;
        width: 740px;
        margin: 0;
    }

    .u-dialog-section-14 .u-form-group-3 {
        margin-left: 0;
    }

    .u-dialog-section-14 .u-form-group-4 {
        margin-left: 0;
    }

    .u-dialog-section-14 .u-form-group-5 {
        margin-left: 0;
    }

    .u-dialog-section-14 .u-btn-1 {
        --radius: 18px;
    }

    .u-dialog-section-14 .u-icon-1 {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 991px) {
        .u-dialog-section-14 .u-dialog-1 {
            width: 720px;
        }

        .u-dialog-section-14 .u-form-1 {
            width: 660px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-14 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-14 .u-container-layout-1 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-dialog-section-14 .u-form-1 {
            width: 520px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-14 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-14 .u-form-1 {
            width: 320px;
        }
    }</style>
    <script>
        var computerSelectSoftware = document.getElementById("createSelectComputerSoftware");
        var laptopSelectSoftware = document.getElementById("createSelectLaptopSoftware");

        computerSelectSoftware.addEventListener("change", function() {
            if (computerSelectSoftware.value !== "") {
                laptopSelectSoftware.disabled = true;
                laptopSelectSoftware.value = "";
            } else {
                laptopSelectSoftware.disabled = false;
            }
        });

        laptopSelectSoftware.addEventListener("change", function() {
            if (laptopSelectSoftware.value !== "") {
                computerSelectSoftware.disabled = true;
                computerSelectSoftware.value = "";
            } else {
                computerSelectSoftware.disabled = false;
            }
        });
    </script>
</section>