<section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-10" id="deletePeripheralModal" th:fragment="delete-peripheral">
    <div class="u-align-justify u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <p class="u-align-center u-text u-text-1">Вы уверены, что хотите удалить данную периферию? </p>
            <a th:href="@{'/peripherals/delete/' + ${peripheral.id}}" class="u-align-left u-btn u-btn-round u-button-style u-radius u-btn-1">Удалить </a>
            <a href="#" class="u-align-left u-btn u-btn-round u-button-style u-radius u-btn-2" data-dismiss="modal">Отмена </a>
        </div>
    </div>
    <style>.u-dialog-section-10 .u-dialog-1 {
        width: 530px;
        min-height: 134px;
        height: auto;
        margin: 338px auto 60px;
    }

    .u-dialog-section-10 .u-container-layout-1 {
        padding: 0 0 13px;
    }

    .u-dialog-section-10 .u-text-1 {
        margin: 17px 31px 0;
    }

    .u-dialog-section-10 .u-btn-1 {
        --radius: 12px;
        margin: 12px auto 0 119px;
    }

    .u-dialog-section-10 .u-btn-2 {
        --radius: 12px;
        margin: -45px 119px 0 291px;
    }

    .u-dialog-section-10 .u-icon-1 {
        width: 15px;
        height: 15px;
        left: auto;
        top: 119px;
        position: absolute;
        right: 0;
        padding: 0;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-10 .u-text-1 {
            margin-top: -57px;
            margin-left: 31px;
            margin-right: 31px;
        }

        .u-dialog-section-10 .u-btn-1 {
            margin-top: 72px;
        }

        .u-dialog-section-10 .u-btn-2 {
            margin-top: -45px;
            margin-right: 119px;
            margin-left: 291px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-10 .u-dialog-1 {
            margin-right: calc(((100% - 540px) / 2) + 111px);
        }

        .u-dialog-section-10 .u-text-1 {
            margin-top: 17px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-10 .u-dialog-1 {
            width: 340px;
            margin-right: calc(((100% - 340px) / 2));
        }

        .u-dialog-section-10 .u-btn-1 {
            margin-left: 0;
        }

        .u-dialog-section-10 .u-btn-2 {
            margin-right: 24px;
            margin-left: 196px;
        }
    }
    </style>
</section>
