.u-section-1 .u-sheet-1 {
  min-height: 555px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 16px 0 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-4572-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 2.375em;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-1 .u-btn-3 {
  --radius: 18px;
  margin: 196px 398px 60px 399px;
  padding: 10px 87px 10px 86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 906px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 298px;
    margin-left: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 686px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 188px;
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 506px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 98px;
    margin-left: 99px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-left: 306px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }
}